html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  min-width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
.welcome-painting {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-painting__text {
  width: 320px;
  min-height: 205px;
}
.welcome-painting__sedona-mountains {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  height: 389px;
  background-image: url(../img/back-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 90px 19px 85px 19px;
}
@media (min-width: 768px) {
  .welcome-painting__sedona-mountains {
    width: 768px;
    height: 518px;
    padding: 78px 153px 90px 153px;
  }
}
@media (min-width: 1200px) {
  .welcome-painting__sedona-mountains {
    width: 1200px;
    padding: 78px 370px 90px 370px;
  }
}
.welcome-painting__sedona-mountains--catalog {
  box-sizing: border-box;
  height: 158px;
  padding: 45px 45px;
}
@media (min-width: 768px) {
  .welcome-painting__sedona-mountains--catalog {
    height: 301px;
    padding: 120px 154px;
  }
}
@media (min-width: 1200px) {
  .welcome-painting__sedona-mountains--catalog {
    padding: 120px 370px;
  }
}
@media (min-width: 768px) {
  .welcome-painting__hero-block-text {
    width: 460px;
    height: 350px;
  }
}
@media (min-width: 768px) {
  .welcome-painting__sedona-text {
    width: 460px;
    height: 80px;
  }
}
.welcome-painting__hero-block-triangle {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
}
@media (min-width: 768px) {
  .welcome-painting__hero-block-triangle {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .welcome-painting__hero-block-triangle {
    width: 1200px;
  }
}
.welcome-painting__description {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin: 32px 18px 0px 18px;
  width: 284px;
}
@media (min-width: 768px) {
  .welcome-painting__description {
    font-size: 21px;
    width: 520px;
  }
}
@media (min-width: 1200px) {
  .welcome-painting__description {
    width: 484px;
  }
}
.welcome-painting__justification {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin-right: 18px;
  margin-left: 18px;
  margin: 35px 18px 16px 18px;
  width: 284px;
}
@media (min-width: 768px) {
  .welcome-painting__justification {
    width: 520px;
  }
}
@media (min-width: 1200px) {
  .welcome-painting__justification {
    width: 484px;
  }
}
.characteristics__advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .characteristics__advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .characteristics__advantages-list {
    width: 1200px;
  }
}
.characteristics__advantages-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 210px;
}
.characteristics__advantages-item-bluestyle {
  display: flex;
  flex-direction: column;
  width: 320px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .characteristics__advantages-item-bluestyle {
    flex-direction: row;
    width: 100%;
  }
}
.characteristics__advantage-text {
  display: flex;
  flex-direction: column;
  background-color: #81B3D2;
  align-items: center;
}
@media (min-width: 768px) {
  .characteristics__advantage-text {
    width: 256px;
    min-height: 256px;
  }
}
@media (min-width: 1200px) {
  .characteristics__advantage-text {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .characteristics__img--devilbridge {
    order: -1;
  }
}
.characteristics__title-bluestyle {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  width: 320px;
  min-height: 26px;
}
@media (min-width: 768px) {
  .characteristics__title-bluestyle {
    font-size: 21px;
    width: 190px;
  }
}
@media (min-width: 1200px) {
  .characteristics__title-bluestyle {
    width: 300px;
  }
}
.characteristics__text-bluestyle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 15px;
}
.characteristics__img {
  width: 320px;
  height: 260px;
}
@media (min-width: 768px) {
  .characteristics__img {
    width: 512px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .characteristics__img {
    width: 800px;
  }
}
.characteristics__graphical-advantages {
  display: flex;
  flex-direction: column;
  width: 284px;
  min-height: 347px;
  padding: 23px 18px 46px 18px;
}
@media (min-width: 768px) {
  .characteristics__graphical-advantages {
    width: 768px;
    min-height: 330px;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .characteristics__graphical-advantages {
    width: 1200px;
  }
}
.characteristics__blackstyle-wrapper {
  width: 237px;
  min-height: 92px;
  padding: 0 0 0 47px;
  position: relative;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .characteristics__blackstyle-wrapper {
    width: 190px;
    min-height: 113px;
    padding: 158px 33px 60px 33px;
    margin: 0;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .characteristics__blackstyle-wrapper {
    width: 300px;
    min-height: 92px;
    padding: 169px 50px 69px 50px;
  }
}
.characteristics__graphical-element {
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .characteristics__graphical-element {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
  }
}
.characteristics__title-blackstyle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 8px 0 16px 0;
  margin: 0;
}
@media (min-width: 768px) {
  .characteristics__title-blackstyle {
    font-size: 21px;
  }
}
.characteristics__text-blackstyle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  padding: 0;
  margin: 0;
}
.characteristics__advantages-item-grey {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  width: 284px;
  min-height: 165px;
}
@media (min-width: 768px) {
  .characteristics__advantages-item-grey {
    min-width: 256px;
    width: 33%;
  }
}
@media (min-width: 1200px) {
  .characteristics__advantages-item-grey {
    min-width: 400px;
  }
}
.characteristics__title-whitestyle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  width: 284px;
  min-height: 26px;
}
@media (min-width: 768px) {
  .characteristics__title-whitestyle {
    font-size: 21px;
    width: 256px;
  }
}
@media (min-width: 1200px) {
  .characteristics__title-whitestyle {
    width: 400px;
  }
}
.characteristics__text-whitestyle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}
.hotel-block__description-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 287px;
  align-items: center;
}
@media (min-width: 768px) {
  .hotel-block__description-wrapper {
    min-width: 768px;
    min-height: 318px;
  }
}
@media (min-width: 1200px) {
  .hotel-block__description-wrapper {
    min-width: 1200px;
    min-height: 331px;
  }
}
.hotel-block__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  width: 262px;
}
@media (min-width: 768px) {
  .hotel-block__title {
    font-size: 30px;
    width: 435px;
  }
}
.hotel-block__text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  width: 262px;
}
@media (min-width: 768px) {
  .hotel-block__text {
    font-size: 14px;
  }
}
.hotel-block__button {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #81B3D2;
  padding: 16px 49px;
}
@media (min-width: 768px) {
  .hotel-block__button {
    width: 458px;
  }
}
.main-footer {
  min-width: 320px;
  width: 100%;
}
@media (min-width: 768px) {
  .main-footer {
    min-width: 768px;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    min-width: 1200px;
  }
}
.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 28px 82px 0 82px;
  min-width: 168px;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    width: 768px;
    margin: 36px auto;
  }
}
@media (min-width: 1200px) {
  .main-footer__wrapper {
    width: 1200px;
  }
}
.main-footer__sedona-link {
  text-decoration: none;
}
.main-footer__sedona-link-hashtag {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
.main-footer__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.main-footer__logo-academy {
  margin-left: 12px;
  display: block;
}
.main-footer__logo-text {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}
.site-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 320px;
  min-height: 223px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .site-list {
    width: 768px;
    min-height: 56px;
    flex-direction: row;
    margin: 0 auto;
    background-color: #FFFFFF;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 1200px;
  }
}
.site-list__item {
  list-style-type: none;
  display: block;
  width: 320px;
  min-height: 56px;
  background-color: #81B3D2;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  z-index: 2;
}
@media (min-width: 768px) {
  .site-list__item {
    background-color: #FFFFFF;
    width: 125px;
  }
}
@media (min-width: 768px) {
  .site-list__item:nth-child(2) {
    margin-right: 100px;
  }
  .site-list__item:nth-child(3) {
    margin-left: 100px;
  }
}
.site-list__link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  width: 320px;
  text-align: center;
  margin-top: 17px;
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    width: 125px;
  }
}
.photos-videos {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .photos-videos {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .photos-videos {
    width: 1200px;
  }
}
.photos-videos__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .photos-videos__title {
    font-size: 30px;
  }
}
.photos-videos__text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__greetings-wrapper {
  width: 280px;
  height: 134px;
  margin: 0 20px;
}
@media (min-width: 768px) {
  .form__greetings-wrapper {
    width: 435px;
  }
}
@media (min-width: 1200px) {
  .form__greetings-wrapper {
    width: 435px;
  }
}
.form__sedona-logo {
  position: absolute;
  top: -50px;
  z-index: 1;
}
.form__sedona-mountains {
  width: 320px;
  height: 389px;
  background-image: url(../img/form/form-back-mobile.png);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .form__sedona-mountains {
    width: 768px;
    height: 518px;
    background-image: url(../img/form/form-back-tablet.png);
    background-repeat: no-repeat;
  }
}
@media (min-width: 1200px) {
  .form__sedona-mountains {
    width: 1200px;
    height: 518px;
    background-image: url(../img/form/form-back-desktop.png);
    background-repeat: no-repeat;
  }
}
.form__greetings-title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .form__greetings-title {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .form__greetings-title {
    font-size: 30px;
  }
}
.form__greetings-text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.form__list {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .form__list {
    flex-direction: row;
    width: 648px;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .form__list {
    flex-direction: row;
    width: 960px;
    flex-wrap: wrap;
  }
}
.form__item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .form__item {
    width: 324px;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .form__item {
    width: 480px;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .form__item--radio-checkbox {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .form__item--radio-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .form__item--radio-checkbox .form__title {
    text-align: center;
    width: 960px;
  }
}
@media (min-width: 768px) {
  .form__item--emotions {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .form__item--emotions {
    width: 960px;
  }
}
.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .form__title {
    font-size: 21px;
  }
}
.form__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.form__input {
  width: 280px;
  height: 58px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 0;
  border-width: 0;
  background-color: #F2F2F2;
}
.form__impressions-radio {
  margin: 0;
  padding: 0;
  width: 46px;
  height: 46px;
}
.form__radio-checkbox-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.form__showplaces-checkbox {
  margin: 0;
  padding: 0;
  width: 46px;
  height: 46px;
}
.form__radio-checkbox-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  width: 188px;
}
.form__emotions-comment {
  width: 279px;
  height: 150px;
  padding: 0;
  border-width: 0;
  background-color: #F2F2F2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .form__emotions-comment {
    width: 648px;
    height: 168px;
  }
}
@media (min-width: 1200px) {
  .form__emotions-comment {
    width: 768px;
    height: 160px;
  }
}
.form__submit-button {
  width: 280px;
  height: 58px;
  color: #FFFFFF;
  background-color: #81B3D2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .form__submit-button {
    width: 324px;
    height: 58px;
  }
}
@media (min-width: 1200px) {
  .form__submit-button {
    width: 384px;
  }
}
.form__required-text {
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
@media (min-width: 768px) {
  .form__required-text {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .form__required-text {
    font-size: 30px;
  }
}
.galery {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 0;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .galery {
    width: 648px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .galery {
    width: 1200px;
  }
}
.galery__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  width: 320px;
  min-height: 424px;
}
@media (min-width: 768px) {
  .galery__item {
    width: 324px;
    height: 347px;
  }
}
@media (min-width: 1200px) {
  .galery__item {
    width: 400px;
    height: 367px;
  }
}
@media (min-width: 768px) {
  .galery__item--unnativespace {
    width: 648px;
    height: 550px;
  }
}
@media (min-width: 1200px) {
  .galery__item--unnativespace {
    width: 1200px;
    height: 600px;
  }
}
.galery__image-unnativespace {
  width: 280px;
  height: 280px;
}
@media (min-width: 768px) {
  .galery__image-unnativespace {
    width: 648px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .galery__image-unnativespace {
    width: 1200px;
  }
}
.galery__image-flora {
  width: 280px;
  height: 280px;
}
@media (min-width: 768px) {
  .galery__image-flora {
    width: 324px;
    height: 267px;
  }
}
@media (min-width: 1200px) {
  .galery__image-flora {
    width: 400px;
  }
}
.galery__image-waytothenorth {
  width: 280px;
  height: 280px;
}
@media (min-width: 768px) {
  .galery__image-waytothenorth {
    width: 324px;
    height: 267px;
  }
}
@media (min-width: 1200px) {
  .galery__image-waytothenorth {
    width: 400px;
  }
}
.galery__image-devilbridge {
  width: 280px;
  height: 280px;
}
@media (min-width: 768px) {
  .galery__image-devilbridge {
    width: 324px;
    height: 267px;
  }
}
@media (min-width: 1200px) {
  .galery__image-devilbridge {
    width: 400px;
  }
}
.galery__image-link {
  display: block;
}
.galery__title {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.galery__text {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.galery__likes-count {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.galery__like-button {
  background-image: url(/img/catalog/like-icon.svg);
}
@media (min-width: 768px) {
  .galery__item--video {
    margin: 0 auto;
    width: 648px;
    height: 745px;
  }
}
@media (min-width: 1200px) {
  .galery__item--video {
    width: 800px;
    height: 747px;
  }
}
.galery__video-title {
  width: 266px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .galery__video-title {
    font-size: 30px;
  }
}
.galery__video-text {
  width: 266px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.galery__video-link {
  width: 280px;
  height: 177px;
}
@media (min-width: 768px) {
  .galery__video-link {
    width: 648px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .galery__video-link {
    width: 800px;
  }
}
.social {
  min-width: 166px;
  width: 100%;
}
.social__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.social__item {
  list-style-type: none;
  background-color: #81B3D2;
  width: 48px;
  height: 48px;
  margin: 0 5px;
}
.social__item--vk {
  background-image: url(../img/index/vk.svg);
  background-repeat: no-repeat;
  background-position: 10px;
}
.social__item--tg {
  background-image: url(../img/index/tg.svg);
  background-repeat: no-repeat;
  background-position: 10px;
}
.social__item--yt {
  background-image: url(../img/index/yt.svg);
  background-repeat: no-repeat;
  background-position: 10px;
}
.map {
  display: block;
  margin: auto;
  background-image: url(../img/index/map-mobile.jpg);
  width: 320px;
  height: 350px;
  background-position: center;
}
@media (min-width: 768px) {
  .map {
    width: 768px;
    background-image: url(../img/index/map-tablet.jpg);
  }
}
@media (min-width: 1200px) {
  .map {
    width: 1200px;
    background-image: url(../img/index/map-desktop.jpg);
  }
}
.page__container {
  margin: 0 auto;
  width: 320px;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .page__container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__container {
    width: 1200px;
  }
}
.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-nav__sedona-logo {
  top: 0;
  z-index: 2;
  margin: 0 auto;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */
